@font-face {
	font-family: Neo;
	src: url(../fonts/Neo-Sans-Std-Regular.otf) format('opentype');
}

html{
	position: relative;
    min-height: 100%;
}

html, body{
	font-family:Neo;
	background-image: url(../imgs/bkg.jpg);
}

/* BOOTSTRAP RESET */

a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
	outline:none;
}

i{
	margin-bottom: 2px;
	margin-top: 2px;
}

label{
	margin-bottom: 0px;
}

.form-horizontal .form-group, .row{
	margin-left: 0px;
	margin-right:0px;
}

.form-control{
	border-radius: 0px;
}

.btn{
	border-radius: 0px;
}

/* NAVIGATION */

.logo{
	background-image:url(../imgs/logo-zap.jpg);
	background-repeat:no-repeat;
	width:72px;
	height: 54px;
}

.logo-collapse{
	width: auto;
}

.logo-collapse i{
	padding-left:70px;
}

.logo-hover, .logo-active{
	background-image:url(../imgs/logo-zap-active.jpg);
	background-repeat:no-repeat;
	width:72px;
	height: 54px;
}

.logo-vertical{
	background-image:url(../imgs/logo-zap.jpg);
	background-repeat:no-repeat;
	width:72px;
	padding-top: 20px;
    text-align: right;
    vertical-align: middle;
    width: 110px;
    display: inline-block;
    height: 54px;
    outline: none;
}

.nav .logo-vertical{
	color:#d11a6f;
}

.vertical .panel-group{
	margin-bottom: 0px;
}

.panel-group .panel + .panel{
	margin-top: 0px;
}

.nav h4{
	font-size: 14px;
	background-color: #fff;
}

.nav h4 a{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.nav h4 a:hover{
	background-color: #d11a6f;
	color: #fff;
}

.nav .panel-heading{
	padding: 0px;
	border:none;
}

.nav .panel{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    border-radius: 0;
}

.nav .panel-body{
	padding: 0px;
	background-color: #f0f3f4;
}

.nav .panel-body a{
	display: block;
	padding: 7px 30px;
	text-decoration: none;
	color: #333;
}

.nav .panel-body a:hover{
	background-color: #d11a6f;
	color: #fff;
}

.nav .panel-title a:after {
    font-family: "FontAwesome";
    content: "\f107";
    float: right;
    margin-left: 15px;
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }

.nav .panel-title .collapsed:after {
    content: "\f105";
  }

.nav .no-child a:after{
	content: none !important;
}

.nav .panel-default > .panel-heading + .panel-collapse > .panel-body{
	border: none;
	border-top: 1px solid #ccc;
}

.nav .vertical .btn.active, .nav .vertical .btn:active{
	box-shadow: none;
	background-image:url(../imgs/logo-zap.jpg);
}

.nav .open > .logo-vertical, .nav .open > .logo-vertical:focus, .nav .open > .logo-vertical:hover{
	background-image:url(../imgs/logo-zap-active.jpg);
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	border: none;
}

.navbar-zap .logo-active a:hover{
	background-color: transparent;
}

.navbar-zap{
	background-color: #fff;
	border-color: #d11a6f;
	border-bottom: 2px solid #d11a6f;
	font-size: 16px;
	font-weight: bold;
}

.navbar-zap .navbar-nav>li>a{
	color:#333;
}

.navbar-zap .navbar-nav>li>a:hover{
	color:#fff;
}

.nav > li > a:focus, .nav > li > a:hover{
	background-color: #d11a6f;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	background-color: #d11a6f;
	color:#fff;
}

.navbar-right{
	margin-right: 0px;
}


.navbar-nav > li > a{
	padding-top: 17px;
	padding-bottom: 17px;
}

.navbar-zap .navbar-nav>.active>a, .navbar-zap .navbar-nav>.active>a:focus, .navbar-zap .navbar-nav>.active>a:hover{
	background-color: #d11a6f;
	color:#fff;
}

.navbar-nav > li > .dropdown-menu{
	margin-top: 1px;
}

.navbar-zap .dropdown-menu{
	border-radius: 0px;
	padding: 0px;
}

.navbar-zap .dropdown-menu > li > a{
	padding: 10px 20px;
}

.navbar-zap .dropdown-menu > li > a:focus, .navbar-zap .dropdown-menu > li > a:hover{
	background-color: #d11a6f;
	color:#fff;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
	background-color: #d11a6f;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}

/* END NAVIGATION */


/* LAYOUT STRUCTURE AND STYLES*/

.container-white .row:last-child{
	margin-bottom: 0px;
}

.container-white{
	margin-bottom: 50px !important;
}

.row{
	margin-bottom: 15px;
}


.table{
	font-size: 14px;
	margin-bottom: 0px;
	background-color:#fff;
}

.table-actions{
	padding: 5px;
	background-color: #f0f3f4;
	text-align: right;
}

.dashboard, .content {
	border: 1px solid #e7e7e7;
	background-color: #fff;
}

.content{
	padding: 30px;
	background-color: #f3f5f6;
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

.container-white{
	border: 1px solid #e7e7e7;
	background-color: #fff;
	padding: 30px;
}

.container-form{
	border: none;
	background-color: #fff;
}

.container-form .form-body{
	padding: 30px;
	padding-bottom: 0px;
	background-color: #f3f5f6;
	border: 1px solid #e7e7e7;
}

.container-form .form-submit{
	margin: 0 auto;
	padding: 30px;
	text-align: center;

}

.container-nav-left{
	border: 1px solid #e7e7e7;
	background-color: #fff;
}

.content-title{
	padding-top:10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.box{
	padding-right: 25px;
}

.box:last-child{
	padding-right: 0px;
}

.box .dashboard{
	padding:5px;
}

.box .header{
	height:35px;
}

.box .box-title{
	float: left;
	font-weight: bold;
	padding-top: 5px;
    padding-left: 5px;
    font-size: 14px;
}

.box .link{
	float:right;
	padding-top: 5px;
	padding-right: 5px;

}

.panel-group{
	margin-bottom: 0px;
}

.href{
	cursor: pointer;
}

th{
	background-color: #ffd400;
	color: #333;
}

.th-blue{
	background-color: #007dc5;
	color: #fff;
}

.th-pink{
	background-color: #d11a6f;
	color: #fff;
}

.xs-3 p{
	white-space: nowrap; 
    width: 135px; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.xs-9 p{
	white-space: nowrap; 
    max-width: 380px; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.circle-pink{
	height:60px;
	width:60px;
	border-radius: 30px;
	font-size: 30px;
	font-weight: bold;
	background-color: #d11a6f;
	color: #fff;
	border: 5px solid #f5cfe1;
	text-align: center;
	line-height: 45px;
	margin-bottom: 15px;
	margin-right: 5px;
}

.circle-blue{
	height:60px;
	width:60px;
	border-radius: 30px;
	font-size: 30px;
	font-weight: bold;
	background-color: #007dc5;
	color: #fff;
	border: 5px solid #cce5f3;
	text-align: center;
	line-height: 45px;
	margin-bottom: 15px;
	margin-right: 5px;
}

.action-i{
	text-align:center;
	vertical-align:middle;
}

.btn-primary-zap {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #d11a6f;
    color: #d11a6f;
    margin-right: 10px;
    min-width: 160px;
}

.btn-primary-zap:last-child{
	margin-right: 0px;
}

.btn-primary-zap:hover, .btn-primary-zap:focus{
	background-color: #d11a6f;
	color: #fff;
	border: 1px solid #d11a6f;
	border-bottom: 2px solid #d11a6f;
}

.popover{
	border-radius: 0px;
}

.alert{
	border-radius: 0px;
}

.form-horizontal .checkbox, .form-horizontal .radio{
	min-height: 0px;
	padding-top: 2px;
}

.badge-zap{
	height:20px;
	width:20px;
	border-radius: 10px;
	font-size: 11px;
	font-weight: bold;
	background-color: #007dc5;
	color: #fff;
	border: 2px solid #cce5f3;
	text-align: center;
	line-height: 11px;
	position: absolute;
	top: 10px;
	right:5px;
	padding: 3px 4px;
}

.notification-badge .dropdown-menu li{
	position:relative;
}

.notification-badge .dropdown-menu li a{
	padding-left:40px;
}

.badge-danger{
	left:15px;
	    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.badge-warning{
	left:15px;
	    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.badge-info{
	left:15px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;;
}

.fileinput{
	width: 100%;
}

.fileinput .thumbnail{
    height: 150px;
    width: 100%;
    border-radius: 0px;
}

.form-horizontal .form-group .control-label:first-child{
	padding-left:0px;
}

.form-horizontal .form-group .control-label:not(:first-child){
	padding-left:20px;
}

.form-horizontal .control-label{
	text-align: left;
}

form .caret{
	left: 90%;
    top: 45%;
    position: absolute;
}

.pagination{
	margin: 0px;
}

.fileinput{
	padding-left: 20px;
}

.bold{
	font-weight: bold;
}

/* METIS MENU */

.metismenu{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.metismenu li, .metismenu a{
	display: block;
}

.metismenu li{
	border-top: 1px solid #ddd;
}

.metismenu a{
	padding: 10px 20px;
	background-color: #fff;
    font-size: 14px;
    color:#333;
    text-decoration: none;
    height: 40px;
}

.metismenu li li{
	border: none;
}

.metismenu li:first-child{
	border: none;
}

.metismenu a:hover{
	color:#fff;
	background-color:#d11a6f; 
}

.metismenu .active > a{
	color:#fff;
	background-color:#d11a6f; 
}
.metismenu ul{
	padding-left: 0px;
	background-color: #f0f3f4;
}

.metismenu ul ul{
	padding-left: 0px;
	background-color: #ddd;
}

.metismenu ul ul a{
	padding-left: 40px;
}

.metismenu ul a{
	background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px 10px 30px;
    border: none;
}

.metismenu ul li:first-child{
	border-top: 1px solid #ddd;
}

.metismenu .fa{
	float:right;
}

.metismenu .fa-left{
	float:left;
	padding-right: 15px;
}

.fa.arrow:before {
    content: "\f107";
    font-size: 1.33333em;
}

.active > a > .fa.arrow:before {
    content: "\f105";
    font-size: 1.33333em;
}

.menu-drop li {
    position: relative;
    height:40px;
}

.menu-drop > li ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    display: none;
}

.menu-drop li:hover > ul,
.menu-drop li:hover > ul.collapse {
    display: block !important;
    height: auto !important;
    z-index: 1000;
    visibility: visible;
    border: 1px solid #ddd;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.menu-drop .fa.arrow:before {
    content: "\f067";
    font-size: 1.1em;
    line-height: 20px;
}

.menu-drop .active > a > .fa.arrow:before {
    content: "\f067";
    font-size: 1.1em;
    line-height: 20px;
}

.nav-expanded{
	float: left;
	margin-right: -100%;
	position: relative;
	width: 235px;
	z-index:1;
}

.nav-collapsed{
	width: 55px;
}

.a-collapsed{
	width: 55px;
	white-space: nowrap;
}

.content-collapsed{
	padding-left:270px;
}

.content-expanded{
	padding-left:80px;
}

.hide{
	display: none;
}

.no-float{
	float:none;
}

.input-group-addon{
	border-radius: 0px;
}

/* DATATABLES */

.pagination > li > a, .pagination > li > span{
	color:#333;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
	color:#fff;
	background-color: #d11a6f;
	border-color: #d11a6f;
}

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span{
	border-radius: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	background-color: #d11a6f;
	border-color: #d11a6f;
}

.dataTables_wrapper{
	background-color: #f0f3f4;
}

.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child{
	padding: 10px;
	border:1px solid #e7e7e7;
}

.dataTables_wrapper .row{
	margin-bottom: 0px;
}

/* END DATATABLES */

/* FOOTER */

.footer{
	background-color: #f9f9f9;
	border-top: 1px solid #ddd;
	margin-top: 30px;
	display: inline-table;
	position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .container, .footer .container-fluid{
	padding: 5px;
	font-size: 11px;
}

.footer .produced{
	float:left;
}

.footer .contacts{
	float:right;
}

/* FOOTER END */

.align-left{
	text-align: left;
}

.fontawesome-icon-list i{
	padding: 5px;
}

.glyphicons-demo ul li {
    border: 1px solid #ddd;
    float: left;
    font-size: 14px;
    height: 115px;
    line-height: 1.4;
    margin: 0 -1px -1px 0;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.bs-glyphicons, .glyphicons-demo ul {
    list-style: outside none none;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 1px;
    padding-left: 0;
}
.glyphicons-demo ul li {
    width: 12.5%;
}

/* RESPONSIVENESS */

@media screen and (max-width: 768px) {

	.navbar-static-top .nav > li{
		float:left;
	}

    .navbar-right li{
	display: inline-block;
	}

	.navbar-nav{
		float:left;
	}

	.navbar-right{
		float:right;
	}

	.navbar-nav{
		margin: 0px;
	}
	.navbar-nav .open .dropdown-menu{
		background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	    position: absolute;
	    display: block;
	    float: left;
    	font-size: 14px;
    	text-align: left;
	    top: 100%;
	    z-index: 1000;
	}

	.navbar-right .open .dropdown-menu{
		left:auto;
	    right:0;
	}

	.navbar-nav .open .dropdown-menu li{
		width: 100%;
	}
}

/* infinite submenu */
.marginBottom-0 {margin-bottom:0;}

.navbar-zap .dropdown.open > a {
	color: #fff;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0;
	margin-left: -1px;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color: #555;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

/* revision */

.mt-0 {
    margin-top: 0px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.spacer {
    margin-top: 20px;
}

.content.pd-10 {
    padding: 10px 10px 0px 10px;
}


.box {
    padding-right: 0px;
}

@media (min-width: 992px) {
    .col-md-12.box, .col-md-8.box, .col-md-6.box, .col-md-4.box, .col-md-3.box {
        padding-right: 25px;
    }
    .col-md-12.box:last-child, .col-md-8.box:last-child, .col-md-6.box:last-child, .col-md-4.box:last-child, .col-md-3.box:last-child {
        padding-right: 0;
    }
}

.notification-badge .dropdown-menu li a {
    padding-left: 10px;
}

.badge {
    border-width: 2px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin-right: 2px;
}

.badge-float {
    position: absolute;
    top: 5px;
    right: 0;
}

.badge-blue {
    background-color: #007dc5;
    color: #fff;
    border: 2px solid #cce5f3;
}

.navbar-nav > li {
    height: 54px;
}

.navbar-zap .navbar-nav>li>a:hover i {
    color: #fff !important;
}

.tab-pane {
    background: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px;
}

.dataTables_wrapper > .row:nth-child(2) > div, .table_holder {
    overflow-x: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: none;
}

.dataTables_wrapper .dataTables_paginate {
    padding: 0;
    margin: 0;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin: 0;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background-color: transparent;
}

.pagination>li>a, .pagination>li>span {
    border: 1px solid #ddd;
}

.btn {
    border-radius: 3px;
    margin: 1px;
}

.box .dashboard > .row {
    margin-bottom: 0;
}

.container {
	padding-bottom: 30px;
}
.navbar>.container-fluid {
    display: inherit !important;
}
.navbar-nav {
    display: inline !important;
}
.alert-error {
    color: red;
    font-weight: bold;
}

.margin-btm-70 {
	margin-bottom: 70px;
}

.flash-message {
	font-size: 14px;
	font-weight: bold;
}